body {
	background-color: transparent;
	font-size: 12pt;
	font-family:'Times New Roman',Times,serif;
	color:#000000; 
}

#header, .menu, #rightColumn, #footer, a { 
	background-color:transparent;
	padding-top: 10px;
	display:none;
}

#pagewidth {
	background: none;
	border: 0;
}

h1, h2, h3, h4 {
	border: 0;
	color: #000;
}

p {
	line-height: normal;
}